<h1>Product list</h1>
<% if flash[:messages] %>
  <div class="cart"><%= flash[:messages].values %></div>
<% end %>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>image</th>
    
  </tr>
  <tbody>
    <%= render @products %>
  </tbody>
</table>

<%= render 'shared/show_cart' %>
</table>
